
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}


body {
    font-family: "Afacad", sans-serif;
    background-color: bisque;
}

a {
    text-decoration: none;
    color: black;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    align-items: center;
    background-color: #fcabab;
    margin-bottom: 10px;
}

nav .right {
    font-size: 20px;
    font-weight: 600;
    color: rgb(170, 23, 72);
}

nav .left {
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 50px;
}

/*Sales and Membership*/

.membership {
    display: grid;
    align-items: center;
    background-color: rgb(111, 156, 149);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
}

/* Categories Section */
.categories {
    display: grid;
    align-items: center;
    background-color: rgb(111, 156, 149);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
}


main {
    display: grid;
    align-items: center;
    background-color: rgb(111, 156, 149);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
}