
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}


body {
    font-family: "Merriweather", sans-serif;
    background-color: bisque;
}

a {
    text-decoration: none;
    color: black;
}

/* Navigation */
header {
    position: sticky;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 10px;;
}

nav .right {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

nav .left {
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 50px;
}

/*Sales and Membership*/
.discount {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.membership {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Categories Section */

.categories {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.children-books-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.young-adult-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.adult-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.fantasy-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.thriller-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.horror-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.signup-form {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.signin-form {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.signup-form form,
.signin-form form {
    display: flex;
    flex-direction: column;   /* stack items vertically */
    gap: 15px;                /* spacing between items */
    width: 300px;
    margin: 0 auto;           /* center the form */
}

.signup-form input,
.signin-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.signup-form button,
.signin-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fcabab;
    font-weight: bold;
    cursor: pointer;
}
.signup-form button:hover,
.signin-form button:hover {
    background-color: rgb(170, 23, 72);
    color: white;
}