
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}


body {
    font-family: "Merriweather", sans-serif;
    background-color: bisque;
    ;
}

a {
    text-decoration: none;
    color: black;
}

/* Navigation */
header {
    position: sticky;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 10px;;
}

nav .right {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

nav .left {
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 50px;
}

/*Sales and Membership*/
.categories-discount-membership-flexbox {
    display: flex;
    gap: 8px;
    padding: 10px;
}

.categories {
    background-color: rgb(216, 216, 216);
    text-align: center;
    font-size: 15px;
    height: 50vh; /* Full viewport height */
    width: 220px;
    background-color: #333;
    color: white;
    position: sticky; /* Stays in place */
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul li {
    list-style: none;
    padding: 0;
    color: white;
    margin: 10px 10px 10px 10px;
} 
ul li a{
    list-style: none;
    padding: 0;
    color: white;
}

.discount {
    align-items: center;
    background-color: rgb(255, 138, 138);
    text-align: justify;
    color: black;
    font-size: 15px;
    flex: 1; /* equal width */
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.discount h2 {
    text-align: center;
}
.membership {
    align-items: center;
    background-color: rgb(255, 138, 138);
    text-align: justify;
    color: black;
    font-size: 15px;
    flex: 1; /* equal width */
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.membership h2 {
    text-align: center;
}

.membership h2 p {
    padding: auto;
    margin: auto;
}

/* Categories Section */


.children-books-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.young-adult-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.adult-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.fantasy-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.thriller-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.horror-category {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.signup-form {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.signin-form {
    display: grid;
    align-items: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.signup-form form,
.signin-form form {
    display: flex;
    flex-direction: column;   /* stack items vertically */
    gap: 15px;                /* spacing between items */
    width: 300px;
    margin: 0 auto;           /* center the form */
}

.signup-form input,
.signin-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.signup-form button,
.signin-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fcabab;
    font-weight: bold;
    cursor: pointer;
}
.signup-form button:hover,
.signin-form button:hover {
    background-color: rgb(170, 23, 72);
    color: white;
}

.membership a {
    font-weight: bold;
    color: rgb(54, 6, 38);
    text-decoration: underline;
}